<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="2">
    <test name="Jenkins Integration">
        <classes>
            <class name="FirstTest"></class>
            <class name="SecondTest"></class>
        </classes>
    </test>
</suite>